<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeaveMS.Properties.Settings.LeaveDBConnectionString"
            connectionString="Data Source=DESKTOP-EJF6FKI;Initial Catalog=LeaveDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.AsLeavemg" connectionString="Data Source=.\SQLExpress;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.AsLeavemg1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.AsLeavemg2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.viewLeave" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.Leavecon" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.newLeavMScon" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.newcon" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeaveMS.Properties.Settings.AsLeavemg12" connectionString="Data Source=.\SQLExpress;Initial Catalog=AsLeavemg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>